 /* Hero Section */
 .hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #ffdd57,#1e3c72);
    color: #fff;
  }
  .hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
    animation: fadeInDown 1s ease;
  }
  .hero p {
    font-size: 20px;
    animation: fadeInUp 1.2s ease;
  }
  

  .about {
    padding: 80px 20px;
    background: #f9f9f9;
  }
  .about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    flex-wrap: wrap;
  }
  .about-text {
    flex: 1 1 50%;
    padding: 20px;
    opacity: 0;
    transform: translateX(-100px);
    animation: slideInLeft 1s ease forwards;
    animation-delay: 0.5s;
  }
  .about-text h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffdd57;
  }
  .about-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: black;
  }
  ul li{
    font-size: 20px;
  }
  .about-text .btn {
    display: inline-block;
    background: #1e3c72;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s;
  }
  .about-text .btn:hover {
    background:#ffdd57 ;
  }
  .about-img {
    flex: 1 1 40%;
    text-align: center;
    transform: translateX(100px);
    animation: slideInRight 1s ease forwards;
    animation-delay: 0.8s;
  }
  .about-img video {
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  }
  
  @keyframes slideInLeft {
    to { opacity: 1; transform: translateX(0); }
  }
  @keyframes slideInRight {
    to { opacity: 1; transform: translateX(0); }
  }
  @keyframes fadeInDown {
    from { opacity: 0; transform: translateY(-50px); }
    to { opacity: 1; transform: translateY(0); }
  }
  @keyframes fadeInUp {
    from { opacity: 0; transform: translateY(50px); }
    to { opacity: 1; transform: translateY(0); }
  }